django 
SQLAlchemy
Pillow
opencv-python
django-phonenumber-field[phonenumberslite]
django-environ
django-crispy-forms
mysqlclient
django-bootstrap-modal-forms
pytest-django
crispy-bootstrap5
matplotlib
scikit-image
numpy
selenium
beautifulsoup4
lxml
django-recaptcha