{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Cerberus | Gestión de armamento{% endblock title %}</title>
    <link href="{% static 'css/personal_table.css' %}" rel="stylesheet" />
  </head>
  <body>

    {% block content %}
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Armamento</h1>
      </div><!-- End Page Title -->
      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-full">
            <!-- Default Card -->
            <div class="card">
              <div class="container">
                <div class="row">
                  <div class="col-12 p-4">
                    <div class="table-responsive">
                      <table
                        class="table table-striped table-light table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Serial</th>
                            <th>Modelo</th>
                            <th>Calibre</th>
                            <th>Observacion</th>
                            <th>Letal</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for arma in armas %}
                          <tr>
                            <td>{{ arma.serial }}</td>
                            <td>{{ arma.modelo.nombre }}</td>
                            <td>{{ arma.modelo.calibre }}</td>
                            <td>{{ arma.modelo.observacion }}</td>
                            {% if arma.modelo.letal == True %}
                            <td>
                              <i
                                class="bi bi-check-circle-fill"
                                style="color: green"
                              ></i>
                            </td>
                            {% else %}
                            <td>
                              <i
                                class="bi bi-x-circle-fill"
                                style="color: red"
                              ></i>
                            </td>
                            {% endif %} {% endfor %}
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Default Card -->
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    {% endblock content %}
  </body>
</html>
