{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% block title %}Cerberus | Contacto{% endblock title %}
    </title>
    <link href="{% static 'css/personal_table.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body>
    {% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Contacta a nuestros desarrolladores:</h1>
        </div>
        <!-- End Page Title -->
        <section class="section">
            <div class="row align-items-top">
                <div class="col-lg-full">
                    <!-- Default Card -->
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 p-4">
                                    <form method="POST">
                                        <div class="mb-3 col-5">
                                          <label for="" class="form-label">Name</label>
                                          <input type="text"
                                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                          <small id="helpId" class="form-text text-muted">Help text</small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Default Card -->
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->

    {% endblock content %}
</body>

</html>