{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Cerberus | Planificación de esquema de seguridad {%endblock title %}
  </title>

</head>

<body>
  {% block content %}

  <main id="main" class="main">
    <!--Contenido de la pagina-->
    <section class="section">
      <div class="col-12 align-items-center">
        <div class="col-lg-full">
          <div class="container-fluid">
            <div class="row">
              <div class="sidebar col-sm-2 hidden-xs pt-5">
                <a type="button" href="/cerberus/" class="btn btn-secondary mt-4">Regresar</a>
                <!--Barra lateral-->
                {% for datos in militares %}
                <!--Iterar usuarios alojados o registrados en la instalacion-->
                <div style="font-size: 12px; cursor: pointer;" class="card mb-0 my-4 pt-3">
                  <!--Tarjeta-->
                  <div class="card-body">
                    <img loading="lazy" draggable="false" width="50px" class="foto" src="{{datos.militar.foto.url}}" />
                    <div style="font-size: 15px !important" class="card-title fs-6 pb-0 pt-1">
                      {{ datos.militar.apellidos }} {{ datos.militar.nombres }}
                    </div>

                    <div style="font-size: 15px !important" class="id card-title fs-6 pb-0 pt-1">
                      {{ datos.militar.id_militar }}
                    </div>
                    <h6 style="font-size: 13px !important" class="card-subtitle text-muted">
                      {{ datos.militar.rango }} (
                      {{ datos.militar.rango.abreviatura }})
                    </h6>
                    <p class="card-text">
                      Promedio de efectividad en polígonos: <span class="efectividad">5,2</span>
                    </p>
                    <button href="javascript:void(0);" type="submit" class="btn btn-primary" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path
                          d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z">
                        </path>
                      </svg>
                      Agregar
                    </button>
                  </div>
                </div>
                {% endfor %}
                <form method="POST">
                  {% csrf_token %}
                  {% if integrantes%}
                  <button name="iniciar_planeacion" type="submit" class="btn btn-success my-4">Iniciar
                    planeación!</button>
                  {% else %}
                  <button name="iniciar_planeacion" type="submit" class="btn btn-success my-4 disabled">Iniciar
                    planeación!</button>
                  {% endif %}
                </form>
                <!-- <ul id="list"></ul> -->
              </div>
              <!-- <div class="col-sm-9 col-sm-offset-3">
                <div>
                  <img draggable="false" width="100px" src="{{datos.militar.foto.url}}" />
                </div>
              </div> -->
            </div>
          </div>

          <script>
            $(document).ready(function () {
              $(".zoom").magnify();
            });
          </script>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css"
            integrity="sha512-wzhF4/lKJ2Nc8mKHNzoFP4JZsnTcBOUUBT+lWPcs07mz6lK3NpMH1NKCKDMarjaw8gcYnSBNjjllN4kVbKedbw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />


          <script>
            $(function () {
              $(".draggable").draggable();
            });
          </script>

          <script>
            window.setTimeout(function () {
              $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
              });
            }, 4000);
          </script>

          {% if messages %}
          {% for msg in messages %}
          <div class="alert alert-success" role="alert">
            {{ msg }}
          </div>
          {% endfor %}
          {% endif %}

          <div class="planos container-fluid">
            <div class="container m-2">
              {% for integrante in integrantes %}
              <div class="draggable d-inline-block px-2" style="z-index: 1;">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  title="{{ integrante.militar.rango.abreviatura }}  {{ integrante.militar.apellidos }} {{ integrante.militar.nombres }} ">
                  <img style="pointer-events: none; position: sticky;" type="button" class="foto draggable"
                    src="{{ integrante.militar.foto.url }}" loading="lazy" width="35px" height="40px"></img>
                </span>
              </div>
              {% endfor %}
            </div>
            <img src="{{ ubicacion.instalacion.planos.url }}" style="z-index: -1;" class="zoom"
              data-magnify-src="{{ ubicacion.instalacion.planos.url }}" />
            <!-- {% for integrante in integrantes %}
              <div class="draggable d-inline-block" style="z-index: 1;">
                <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                  title="{{ integrante.militar.rango.abreviatura }}  {{ integrante.militar.apellidos }} {{ integrante.militar.nombres }} ">
                  <img style="pointer-events: none; position: sticky;" type="button" class="foto"
                    src="{{ integrante.militar.foto.url }}" loading="lazy" width="25px" height="30px"></img>
                </span>
              </div>
              {% endfor %} -->

            <!-- <div class="contenedor">
              <div class="contendor"></div>
              <div class="plano-container">
                <img class="imagen" draggable="false" src="{{ ubicacion.instalacion.planos.url }}" loading="lazy" />
              </div>
            </div>
          </div> -->
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Datos de integrante de esquema de seguridad
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="form" method="POST">
                    {% block int_esquema_form %} {% csrf_token %}
                    <!--Token de acceso-->

                    <div class="col-8" id="militar">
                      {{ form.militar | as_crispy_field}}
                    </div>
                    <div class="col-8" id="arma">
                      {{ form.arma | as_crispy_field}}
                    </div>

                    <div class="col-8" id="tarea">
                      {{ form.tarea | as_crispy_field}}
                    </div>

                    <div class="col-8" id="submit">
                      <button type="submit" class="btn btn-success">Registrar</button>
                    </div>
                    {% endblock int_esquema_form %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </main>
  <!-- End #main -->


  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"
    integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <style>
    .card:hover {
      transform: scale(1.04);
      transition: all .2s;
    }

    .draggable:hover {
      cursor: pointer;
    }

    .zoom {
      width: 700px;
    }
  </style>

  <link rel="stylesheet" href="{% static 'css/esquema_seguridad.css' %}" />
  <!-- <script src="{% static 'js/zoomPlano.js' %}"></script> -->
  <script src="{% static 'js/dragdrop.js' %}"></script>
  <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/css/magnify.min.css"
    integrity="sha512-wzhF4/lKJ2Nc8mKHNzoFP4JZsnTcBOUUBT+lWPcs07mz6lK3NpMH1NKCKDMarjaw8gcYnSBNjjllN4kVbKedbw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js"
    integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw==""
    crossorigin=" anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.12/draggable.min.js"
    integrity="sha512-VTqyB/kLQGaTnF5kYAgeEFo8fwqdlAGNUQeoQi4EOmmBYTEQ/XrYC7lnzCvBBp1PR+1ODEQiT075oeUdPeFHwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script> -->
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  {% endblock content %}
</body>

</html>