{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}Cerberus | Gestión de Esquemas de seguridad {% endblock title %}
    </title>
  </head>

  <body>
    {% block content %}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Mi instalación</h1>
      </div>
      <!-- End Page Title -->
      <section class="section">
        <div class="row align-items-top">
          <div class="col-lg-full">
            <!-- Default Card -->
            <div class="card">
              <div class="container">
                <div class="row">
                  <div class="col-12 p-4">
                    {% comment %} {% for datos in datos_militar %}
                    <h4>
                      Bienvienido! {{ datos.rango }}, {{ datos.apellidos }} {{datos.nombres}}
                    </h4>
                    {% endfor %}  {% endcomment %}


                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                      {% for titulo, url in noticias.items %} 
                      <div class="carousel-inner">
                        {% if forloop.first %}
                          <div class="carousel-item active bg-black">
                            <img src="{{ url }}" class="noticia-img d-block w-100" alt="..." height="400px">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>{{ titulo }}</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                          {% else %}
                          <div class="carousel-item">
                            <img src="{{ url }}" class="noticia-img d-block w-100" alt="..." height="400px">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>{{ titulo }}</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                            </div>
                          </div>
                        {% endif %}

                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                      {% endfor %}
                    </div>

                    
                  </div>
                </div>
                </div>
              </div>
            </div>
            <!-- End Default Card -->
          </div>
        </div>
      </section>
    </main>
    <link
          rel="stylesheet"
            href="{% static 'css/black_carousel.css' %}"
          />
    {% endblock content %}
  </body>
</html>
