{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title
    <title>{% block title %}Cerberus | Registro de prácticas de polígonos{% endblock %}</title>
</head>

<body>
    {% block content %}

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Datos de práctica de polígono</h1>
      </div><!-- End Page Title -->
      
      <section class="section profile">
        <section class="section">
          <div class="row align-items-top">
            <div class="col-lg-full">
              <!--Card -->
              <div class="card">
                <div class="container">
                  <div class="row">
                    <div class="col-7">
                
                      <!--Fomulario práctica de poligono-->
                      <div class="p-3">
                        <form method="POST" class="form-group" enctype='multipart/form-data'>
                        {% block form %}
                        {% csrf_token %}

                        <div class="col-8" id="fecha">
                            {{ form.fecha | as_crispy_field}}
                        </div>

                        <div type="file" id="modelo_objetivo" name="upload">
                          {{ form.modelo_objetivo | as_crispy_field}}
                        </div>
                        
                        <div class="col-5" id="disponible">
                          {{ form.disponible | as_crispy_field}}
                        </div>

                        <button class="btn btn-primary">Registrar</button>
                        {% endblock form %}
                        </form>
                      </div>
                      <!--Fin fomulario poligono-->
                      
                    </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
          </div>
        </section>
      </main>

    {% endblock content %}
</body>

</html>