{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <!-- ======= Header ======= -->

  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex justify-content-between container-fluid px-5">
      <a href="/" class="logo d-flex align-items-center">
        <img src={% static 'images/logo.png' %} alt="Imagen del logo de Cerberus" />
        <span class="d-none d-lg-block">Cerberus</span>

      </a>
      <a href="/accounts/login/" class="btn btn-primary">Iniciar Sesión</a>
    </div>
  </header>
</body>

</html>