.h-scroll {
  width: 100%;
  overflow-y: scroll;
}

.contenedor {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: #ffffff;
}

.imagen {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
}

.sidebar {
  display: none;
  background-color: #f0f0f0;
}

@media screen and (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.card-body:hover {
  cursor: pointer !important;
}
