{% load static %} {% load recaptcha3 %}

<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>{% block title %}Cerberus | Gestión de esquemas de seguridad para fuerzas militares{% endblock title %}</title>
  <link rel="icon" type="image/png" href="favicon.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/boosted@5.2.0/dist/js/boosted.bundle.min.js"
    integrity="sha384-NkAB+hiFHsv6dxwL0C4lJtfq1RblxY6+DRFn5QZDpgCdwB5RiOGjaJB0Weq0uCy3"
    crossorigin="anonymous"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" rel="stylesheet"
    crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" />
  <link href="{% static 'css/cerberus-home.css' %}" rel="stylesheet" />
  {% recaptcha_init %} {% recaptcha_ready action_name='/accounts/login/' %}
</head>

<body>
  <div class="container">
    {% include "partials/_navbar.html" %}
  </div>
  {% block content %}

  <div class="container-fluid p-0 ">
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <!-- Carousel inicio  -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668122843/banner1_vursbd.jpg" loading="lazy"
                class="d-block w-100 rounded" alt="banner">
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668124818/banner2_xmxv3s.jpg" loading="lazy"
                class="d-block w-100 rounded" alt="banner">
            </div>
            <div class="carousel-item">
              <img src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668125594/banner3_qy2dir.jpg" loading="lazy"
                class="d-block w-100 rounded" alt="banner">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- end typer hello -->
        <p id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        </p>
        <!-- end column wrapping -->
      </div>
      <!-- end row header -->
    </div>

    <div class="container py-4">
      <h1 id="title">Cerberus: gestión de esquemas de seguridad <br> para fuerzas militares</h1>
    </div>


    <div id="reasons_section" class="container reveal justify-center text-center">
      <h2>¿Por qué elegirnos?</h2>
    </div>

    <!-- About section -->
    <section class="reveal features-icons text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h4>Seguridad</h4>
              <p class="lead mb-0">Brindamos los más altos estándares de calidad en seguridad de la información y
                privacidad.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h4>Estratégia y planeación</h4>
              <p class="lead mb-0">Proporcionamos diferentes herramientas de seguimiento para el progreso personal en el
                ámbito militar.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h4>Innovación</h4>
              <p class="lead mb-0">Implementamos las mejores tecnologías actuales para brindarte la mejor calidad de
                producto.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center reveal">
      <div class="container">
        <h2 class="mb-5">Lo que la gente esta diciendo...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3"
                src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668147403/tprofile1_puc1ra.png" width="200px"
                alt="" loading="lazy">
              <h3>Jack E.</h3>
              <h5>U.S Army</h5>
              <h5>Master Sergeant</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3"
                src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668147558/tprofile2_zy5hjh.png" width="200px"
                alt="" loading="lazy">
              <h3>Robert K.</h3>
              <h5>U.S Army</h5>
              <h5>General</h5>
              <p class="font-weight-light mb-0">"Cerberus is amazing"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3"
                src="https://res.cloudinary.com/dw0phagfd/image/upload/v1668147558/tprofile3_sx7au0.png" width="200px"
                alt="..." loading="lazy">
              <h3>Diego P.</h3>
              <h5>Ejercito Nacional de Colombia</h5>
              <h5>Coronel</h5>
              <p class="font-weight-light mb-0">"Es increble! Me permite tener estadísticas de mi personal</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container reveal justify-center text-center pb-4">
      <h2>Contacta con nostros</h2>
    </div>

    <article class="reveal">
      <div class="container">
        <div class="row">
          <section class="container mt-5">
            <!--Contact heading-->
            <div class="row">
              <!--Grid column-->
              <div class="col-sm-12 mb-4 col-md-5">
                <!--Form with header-->
                <div class="card border-primary rounded-0">
                  <div class="card-header p-0">
                  </div>
                  <div class="card-body p-4">
                    <div class="form-group">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="input-group py-2">
                          <input value="" type="text" name="data[name]" class="form-control"
                            id="inlineFormInputGroupUsername" placeholder="Nombre completo" required>
                        </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group py-2">
                        <input type="email" value="" name="data[email]" class="form-control"
                          id="inlineFormInputGroupUsername" placeholder="Correo electrónico" required>
                      </div>
                    </div>
                    <div class="form-group py-4">
                      <div class="input-group">
                        <textarea class="form-control" name="" id="" rows="3" placeholder="Asunto"></textarea>
                      </div>
                    </div>
                    <div class="text-center py-2">
                      <input type="submit" name="submit" value="Enviar" class="btn btn-primary btn-block ">
                      </form>
                    </div>

                  </div>

                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-sm-12 col-md-7">
                <!--Google map-->
                <div class="mb-4">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3215.618768809717!2d-73.61163991694356!3d4.116526596002185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2e5f28aa3c41%3A0xc0e6ee115b961d89!2sUniversidad%20Cooperativa%20de%20Colombia!5e0!3m2!1ses!2sco!4v1667603421207!5m2!1ses!2sco"
                    width="100%" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                    loading="lazy" tabindex="0"></iframe>
                </div>
              </div>
            </div>
            <!--Grid column-->
        </div>
        </section>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
  </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="#">Cerberus.com</a>
    <p>All Rights Reserved</p>
  </div>
  <!-- Copyright -->
  </footer>
  <!-- Footer -->
  {% endblock content %}
  <script src="{% static 'js/reveal.js' %}"></script>
</body>

</html>